.singlePost{
    flex:9;
}

.singlePostWrapper{
    padding: 20px;
    padding-right: 0;;
}

.singlePostImg{
    width: 100%;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.singlePostTitle{
    text-align: center;
    margin:10px;
    font-family:'Lora', serif;
    font-size: 28px;
}
.singlePostEdit{
    float:right;
    font-size: 16px;;
}
.singlePostIcon{
    margin-left:10px;
    cursor:pointer;
}

.singlePostIcon:first-child{
    color:teal;

}
.singlePostIcon:last-child{
    color:tomato;
}
.singlePostInfo{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color:#b39656;
    font-family: 'Varela Round',serif;
}
.singlePostDec{
    color:#666;
    font-size: 18px;
    line-height: 25px;
    padding: 15px;
}
.singlePostDec::first-letter{
    margin-left: 20px;
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
}

